<!DOCTYPE html> 
<html  lang="en"> 
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
        <!-- Bootstrap Fim -->
    
    
        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="/static/img/images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/vendor/animate/animate.css">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/static/style/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/vendor/select2/select2.min.css">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/static/style/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/style/css/util.css">
        <link rel="stylesheet" type="text/css" href="/static/style/css/main.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/js" href="/static/js/main.js">
        <!--===============================================================================================-->
    
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css" rel="stylesheet" />  
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"rel="stylesheet"/>

        <!-- Axios -->
	    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>
    <body>
        <div>
            <nav class="navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li><a class="nav-link active px-3" href="/UserHome">Home</a></li>
                            <li><a class="nav-link px-3" href="/Userupload" >Upload</a></li>
                        </ul>
                        <div class="d-flex align-items-center">
                            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                Bem Vindo {{username}} 
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" data-popper-placement="top-start" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(-43px, -34px);" data-popper-reference-hidden="">
                                <li><a class="dropdown-item" href="/Profile">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/Logout">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>   
        <div class="bg-image" style="background-image: url('/static/img/images/fundo.jpg');">
            <div class="container">
               
                <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Image Feed</h1><br>
                
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Filtros de pesquisa
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form method="POST"> 
                                    <dl class="row">
                                        <dt class="col-md-6">
                                            <label for="datemin">Data de inicio:</label>
                                            <input type="date" id="datemin" name="datemin" min="2000-01-01"><br><br>
                        
                                            <label for="datemax">Data de fim:</label>
                                            <input type="date" id="datemax" name="datemax" max="2021-12-31">
                                        </dt> 
                                        <dt class="col-md-6">
                                            <label for="appt">Hora de inicio:</label>
                                            <input type="time" id="appt1" name="appt1" step="2"><br><br>
        
                                            <label for="appt">Hora de fim:</label>
                                            <input type="time" id="appt2" name="appt2" step="2">
                                        </dt>
                                    </dl><br>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-start">
                    {% for image in images %}
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="/Userplayer" target="_blank" class="d-block mb-4 h-100">
                            <img id="image" class="img-fluid img-thumbnail" src="{{ url_for('static', filename='img/thumbnails/' + image) }}" alt="">
                        </a>
                    </div>
                    {% endfor %}
                    <!--
                    <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    </a>
                    </div>
                    -->
                </div>
            </div>
            <!--
            <div class="mt-2">
                <div class="container d-flex justify-content-center">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-12">
                                 START OF POSTS 
                                <div class="d-flex flex-column mt-4 mb-4">
                                    {% for image in images %}
                                    <div class="card mt-4 ">
                                        <div class="card-header p-3">
                                        </div>
                                        <div class="card-body p-0">               
                                            <a class="button" href="/Userplayer" target="_blank">
                                                <img id="image" class="img-fluid" src="{{ url_for('static', filename='img/imagens/' + image) }}" />
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                 END OF POSTS
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <script>
        
            var list = JSON.parse(JSON.stringify("{{imagelist}}"));
            /*console.log(list)

            var imagens = document.images;
            console.log(imagens)*/


            var lista = [];

            for (i=0; i<list.length;i++){
                lista = list.replace(/&#34;/g, '');
                /*console.log(lista)*/
            }

            /*var imagens = document.images;
                console.log(imagens);*/

            for(i=0;i<lista.length;i++){
                /*imagens[i].src = lista[i];*/

                var imagens= [];
                var imagens = document.images;
                /*console.log(imagens);*/

                imagens[i].dataset.index =  i;
                imagens[i].onclick = function() {
                    var index = this.dataset.index;
                    var src = this.src
                    console.log(index);
                    console.log(src);
                    
                    src=src.replace(/thumbnails/g, 'imagens');
                    ImageSource = src;

                    localStorage.setItem("ImageSource", ImageSource);
                    console.log(localStorage.getItem("ImageSource"));


                    axios.post("/Userplayer",{
                        source: src,  
                    })
                    .then(function (response) {
                        // handle success
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });

                };


            }

        /*  function myFunction() {
                localStorage.removeItem("ImageSource");

                /*image = document.getElementById("image");
                ImageSource = image.src;

                localStorage.setItem("ImageSource", ImageSource);
                console.log(localStorage.getItem("ImageSource"));

                Source = {
                    "source": ImageSource
                }

                
                axios.post("/Userplayer",{
                    source: ImageSource,  
                })
                .then(function (response) {
                    // handle success
                    console.log(response);
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
            } */

        </script>
    </body> 
    <footer>
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </footer>
    
</html>