<!DOCTYPE html>
<html>
<head>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!--
    <link rel="stylesheet" type="text/css" href="https://statics.standvirtual.com/static/carspt/packed/sw483492dd3ec84b43205a9d9501dcaac6.css">
	<link rel="stylesheet" type="text/css" href="https://statics.standvirtual.com/static/carspt/packed/swa80ff2e0fc5043edf84d9e972e2dc1f0.css">
	<link rel="stylesheet" type="text/css" href="https://statics.standvirtual.com/static/carspt/packed/swccef5041862e8a5512499bf145c7bfcf.css">
    -->
    <link rel="stylesheet" type="text/css" href="/static/css/produtos.css">
</head>
<body>
    <nav class="navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link active px-3" href="/userhome" >Home</a></li>
                </ul>
                <div class="d-flex align-items-center">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li><a class="nav-link px-3" href="/cart"><i class="bi bi-cart3"></i> Carrinho</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i> {{user}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
    </nav>
    <!--
    <div class="breadcrumbs_area" style="margin-top: 10px;">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>product details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>-->
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2 style="text-align: center;">Descrição do Produto</h2>
            <hr style="margin-bottom: 1cm; margin-top: 0.5cm"></hr>

            <div class="col-12 mt-2">

                <div class="row d-flex">
                    {% if dados%}
                    <div class="col-lg-7 col-md-7">
                        <div class="css_break_out">
                            <center>
                            <img  class="img-fluid w-75" src={{ url_for("static", filename='images/' + dados[11]) }} id="itemImage"/>
                            </center>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <div class="card">
                            <div id="productDescription">
                                <table class="table table-borderless">
                                    <tr>
                                        <td><b>Marca/Modelo:</b></td>
                                        <td style="text-align: center;">{{dados[1]}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Data da matricula:</b></td>
                                        <td style="text-align: center;">{{dados[4]}} {{dados[5]}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Portas:</b></td>
                                        <td style="text-align: center;">{{dados[6]}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Combustivel:</b></td>
                                        <td style="text-align: center;">{{dados[20]}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Categoria:</b></td>
                                        <td style="text-align: center;">{{dados[18]}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Quilometros:</b></td>
                                        <td style="text-align: center;">{{dados[7]}} km</td>
                                    </tr>
                                    <tr>
                                        <td><b>Preço:</b></td>
                                        <td style="text-align: center;">{{dados[8]}}€</td>
                                    </tr>
                                </table>
                            </div>
                            <form method="post" enctype="multipart/form-data" style="text-align: center;"> 
                                <button id="carrinho" name="carrinho" class=" w-100 btn btn-primary" type="submit" value="{{dados[0]}}" >Adicionar ao carrinho</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>
</body>
</html>