<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <style>

  .link {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  div.tooltip {
    position: absolute;
    background-color: white;
    max-width: 200px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
  }

  </style>
</head>
<body>
</body>


  <div>
    <h1 style="text-align: center;">Navigation graph</h1>
  </div>

  <svg width="1280" height="600"></svg>
  
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

//var transform = d3.zoomIdentity.translate(200, 0).scale(1);

// 2 TENTATIVA

/*var width = 1280,
    height = 600;

var svg = d3.select("body").append("svg") 
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .call(zoom_handler);*/

//.call(zoom.transform, transform) // Calls/inits handleZoom
  //.attr("transform", transform)
    

// 1 TENTATIVA
var svg = d3.select("svg")                     
    width = +svg.attr("width"),
    height = +svg.attr("height");


var color = d3.scaleOrdinal(d3.schemeCategory20);
  color(0);
  color(1);
  color(2);
  color(3);
  color(4);
  color(5);
  color(6);
  color(7);
  color(8);
  color(9);
  color(10);

 var tooltip = d3.select("body")
	.append("div")
	.attr("class", "tooltip")
	.style("opacity", 0);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; })
      .strength(0)
      .distance(100))
    .force("charge", d3.forceManyBody())
    .force("x", d3.forceX(function(d){
              if(d.group === 3){
                  return width/3
              } else if (d.group === 4){
                  return 2*width/3
              } else if (d.group ===5){
                  return width/3
              }else {
                  return width/2 
              }
          }))
      .force("y", d3.forceY(function(d){
              if(d.group === 1){
                  return height/3
              } else if (d.group === 2){
                  return 2*height/3
              } else if (d.group ===5){
                  return height/3
              }else {
                  return height/2 
              }
          }))
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("/static/json/file.json", function(error, graph) {
  if (error) throw error;

  // CRIAR "LINKS"
  var link = svg.selectAll(".link")
    .data(graph.links)
    .enter().append("line")

  link
    .attr("class", "link")
    .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

  // CRIAR "NODES"
  var node = svg.selectAll(".nodes")
    .data(graph.nodes)
    .enter().append('g')

    //NODES  
    .attr('class', 'nodes')
    .on("click", function(d){
       //window.open(d.id, "_blank", 'location=1,status=1,scrollbars=1');
        window.open("/Metadados", "_blank", 'location=1,status=1,scrollbars=1');
        src = d.id;
        console.log(src);

        src1=src.replace(/imagens/g, 'thumbnails');
        console.log(src1);

        axios.post("/Metadados",{
            source1: src,  
        })
        .then(function (response) {
            // handle success
            console.log(response);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        });

        localStorage.setItem("Foto",src1);
        //console.log()
      })
    .on('mouseover.tooltip', function(d) {
      tooltip.transition()
        .duration(300)
        .style("opacity", 4);
      if (d.group == 1){
      tooltip.html("Relação: Data de criação")
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY + 10) + "px");
      }
      if (d.group == 2){
      tooltip.html("Relação: Marca do dispositivo")
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY + 10) + "px");
      }
      if (d.group == 3){
      tooltip.html("Relação: Utilizador")
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY + 10) + "px");
      }
      if (d.group == 4){
      tooltip.html("Relação: Hora de Criação")
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY + 10) + "px");
      }
      if (d.group == 5){
      tooltip.html("Relação: Caras")
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY + 10) + "px");
      }
      if (d.group == 6){
      tooltip.html("Relação: Mais do que uma relação")
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY + 10) + "px");
      }})
    .call(d3.drag()
        .on('start', dragstarted)
        .on('drag', dragged)
        .on('end', dragended)); 

  // ADICIONAR A CARATERISTICA "CIRCLE"
  var circle = node.append('circle')
      .attr('r', 10)
      .attr('fill', function(d) { return color(d.group); })

  // ADICIONAR A CARATERISTICA "IMAGENS"
  var imagens = node.append("image")
      .attr("xlink:href", function(d) { return d.id; })
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);

  // ADICIONAR AS LEGENDAS 
  var sequentialScale = d3.scaleOrdinal(d3.schemeCategory20)
    .domain(["IMAGEM SELECIOANDA", "DATA", "MARCAS", "UTILIZADOR", "HORA", "CARAS", ">1 RELAÇÃO"]);

  svg.append("g")
    .attr("class", "legendSequential")
    .attr("transform", "translate("+(width-140)+","+(height-300)+")");

  var legendSequential = d3.legendColor()
    .shapeWidth(30)
    .cells(7)
    .orient("vertical")
		.title("Group number by color:")
		.titleWidth(100)
    .scale(sequentialScale) 

  svg.select(".legendSequential")
    .call(legendSequential); 

/*  var link = svg.selectAll(".links")
      .data(json.links)
    .enter().append("line")
      .attr("class", "links");

  var node = svg.selectAll(".nodes")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "nodes")
      .call(force.drag);

  var circles = node.append("circle")
      .attr('r', 10)
      .attr('fill', function(d) { return color(d.group); })
      .call(d3.drag()
          .on('start', dragstarted)
          .on('drag', dragged)
          .on('end', dragended));

  var imagens = node.append("image")
      .attr("xlink:href", function(d) { return d.id; })
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16); */

  //add zoom capabilities 
  var zoom_handler = d3.zoom()
    //.scale(10)
    //.scaleTo(svg, 2)
    .scaleExtent([1/2, 64])
    .on("zoom", zoom_actions);

     /*.on("zoom",  function(){
      svg.attr("transform", d3.event.transform);
    });*/

  //zoom_handler.scaleTo(svg, 1.3);  
    zoom_handler(svg);

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        /*.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })*/
        .attr("transform", function(d) {
          return "translate(" + d.x + "," + d.y + ")";
        });
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

//Zoom functions 
function zoom_actions(){
  scale = 1.3
  zoomWidth = (width-scale*width)/2
  zoomHeight = (height-scale*height)/2
  svg.attr("transform", d3.event.transform)
  //svg.attr( "transform", "translate("+zoomWidth+","+zoomHeight+") scale("+scale+")")
  //svg.attr("transform", d3.event.transform)
}

</script>
